.slick-slide{
    text-align: center;
    padding: 10px 0;
}

.ads-slider{
    position: relative;
    .slick-prev,.slick-next{
        text-indent: -9000px;
        width: 3.125rem;
        height: 3.125rem;
        background-color: rgb(38, 64, 77);
        background-image: url('../img/slder-arrow.png');
        border-radius: 50%;
        position: absolute;
        top:50%;
        margin-top: -25px;
    }
    .slick-prev{
        left: 5px;
        transform: rotate(180deg);
    }
    .slick-next{
        right: 5px;
    }
}

.ad{
	flex-basis: 25%;
	background-color: #fff;
	max-width: 290px;
	margin-bottom: 30px;
	margin-right: 30px;
	cursor: pointer;
	&:nth-of-type(4n){
		margin-right: 0;
	}
	box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.3);
	border-radius: 0.188rem;
	&:hover{
        .ad__name{
            color: $mainColor;
        }
    }
    @media only screen and (max-width : 1350px) {
        flex-basis: 33%;
        margin-right: 0;
    }
    @media only screen and (max-width : 1200px) {
        margin-bottom: 3px;
    }
    @media only screen and (max-width : 768px) {
        flex-basis: 100%;
    }
}

.ad__main-info{
    line-height: 1.25rem;
    font-family: $mainFont;
    font-size: 0.875rem;
    font-weight: 500;
}

.ad__desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.ad__name{
    color: rgb(0, 170, 255);
}
.ad__price{
    color: rgb(38, 64, 77);
    font-size: 1.125rem;
}

.ad__favorite{
    color: rgb(230, 238, 242);
    font-size: 1.875rem;
    font-weight: 400;
    cursor: pointer;
    &:hover{
        color: $accentColor;
    }
}

.open-img{
    width: 3.125rem;
    height: 3.125rem;
    background-color: rgb(0, 170, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25rem;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    opacity: 0;
}

.ad__photo{
    position: relative;
    &:hover{
        .open-img{
            opacity: 1;
        }  
    }
}