* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
  color: #333; }

  .form-control:focus{
    box-shadow:none;
  }
input,a,textarea,button{
  outline:none;
  cursor: pointer;
  border: none;
}
img{
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }