.seo-text{
    padding: 50px 0;
    border-bottom: 0.063rem solid rgb(230, 238, 242);
    p{
        color: rgb(107, 138, 153);
        font-family: $mainFont;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.25rem;
        margin: 30px 0 0;
    }
}